.open-sans-front {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: #f5f8ff;
}

/* color-code */
.dark-1 {
    color: #252432;

}

.dark-2 {
    color: #8987A1;

}

.dark-3 {}

.orange-1 {
    color: #E95A08;
}

/* navigation-bar */
.navigation-bar {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    max-width: 1020px;
    margin: 20px auto;
}

.navigation-bar .brand-name {
    max-width: 90px;

}

.navigation-bar .brand-name img {
    width: 100%;

}

.navigation-bar .menu {}

.navigation-bar .menu ul {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 50px;
}

.navigation-bar .menu ul li {
    list-style: none;
}

.navigation-bar .menu ul li a {
    text-decoration: none;

}

.menu-li-1 {
    font-weight: bold;
}




@media screen and (max-width:426px) {
    .navigation-bar {
        margin: 2px 25px;
    }

    .navigation-bar .brand-name {
        max-width: 80px;
    }

    .navigation-bar .menu {
        margin-top: 20px;
    }

    .navigation-bar .menu ul {
        gap: 15px;
    }

    .navigation-bar .menu ul li {
        font-size: 14px;
    }



    .menu-li-2 {
        display: none;
    }

    .menu-li-3 {
        display: none;
    }



}

/* header-banner */
.header-banner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 191px;
    gap: 20px;
    /* border: 1px solid black; */
}

.banner-content {
    max-width: 500px;
    font-family: serif;
    margin-top: 80px;



}

.banner-content h1 {
    font-size: 40px;


}

.flower {
    display: block;
    margin-top: 12px;
}

.pera {
    display: block;
}

.banner-content p {
    font-family: sans-serif;
}

.banner-image {
    max-width: 500px;

}

.banner-image img {
    width: 100%;
}

@media screen and (max-width:426px) {
    .header-banner {
        margin: 10px 25px;
    }

    .banner-content {
        margin-top: 60px;
    }

    .banner-content h1 {
        font-size: 32px;
    }

    .banner-content p {
        font-size: 15px;
    }


}

/* main-section */

/* our-plants-section */
.our-plants {
    max-width: 1020px;
    margin: 50px auto;
    text-align: center;
}

.our-plants .content {}

.our-plants .content h2 {
    font-size: 40px;

}

.our-plants .content p {}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 35px;
    row-gap: 30px;
    column-gap: 20px;

}

.grid .card {
    max-width: 240px;
}

.grid .card img {
    width: 100%;
}

.card .price {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.card .primary-btn {
    width: 240px;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
}

@media screen and (max-width:426px) {
    .our-plants {
        margin: 10px 25px;

    }

    .content {
        font-size: 18px;
    }

    .our-plants .content h2 {
        font-size: 35px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .grid .card {
        max-width: 155px;
        margin: 0px auto;
    }

    .grid .card .primary-btn {
        width: 155px;
        height: 35px;
        border-radius: 2px;

    }

}





/* blog-section */
.blog {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    /* border: 1px solid black; */
    position: relative;
}

.blog .blog-image {
    max-width: 500px;

}

.blog .blog-image img {
    width: 100%;
    height: 520px;

}

.blog .blog-content {
    max-width: 500px;
    padding: 5px;

}

.blog .blog-content h2 {
    font-family: serif;
    font-size: 35px;

}

.blog .blog-content ul {
    margin-top: 0px;


}

.blog .blog-content ul li {
    padding-top: 15px;
    font-size: 18px;



}

.challenge {
    max-width: 190px;
    position: absolute;
    top: -85px;
    right: 460px;

}

.challenge img {
    width: 100%;

}

@media screen and (max-width:426px) {
    .blog {
        margin: 50px 20px;
    }

    .blog .blog-image {
        max-width: 355px;
        margin: 0px auto;

    }

    .blog .blog-content {
        max-width: 360px;
    }

    .blog .blog-content ul li {
        font-size: 14px;
    }
}

/* deals-section */
.deals {
    max-width: 1020px;
    margin: 0px auto;
    text-align: center;
}

.deals h2 {
    font-family: serif;
    font-size: 35px;
    margin-top: 0px;
}


.commercial-discount {
    max-width: 1020px;
    margin: 30px auto;
    display: grid;
    /* justify-content: space-between; */
    grid-template-rows: 175px 175px;
    grid-template-columns: repeat(1, 1fr)2fr;
    row-gap: 20px;
    column-gap: 20px;
}

.image-1 {
    background-image: linear-gradient(rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0.5)), url(assets/deal-bloom.png);

    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 340px;

}




.image-1 img {
    width: 100%;
    border-radius: 8px;
    filter: blur(5)
}

.image-2 {
    background-image: linear-gradient(rgba(23, 22, 22, 0.5), rgba(27, 25, 25, 0.5)), url(assets/deal-ana.png);
    border-radius: 8px;

    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 340px;



}

.image-2 img {
    width: 100%;
    border-radius: 8px;
    filter: blur(5)
}

.image-3 {
    background-image: linear-gradient(rgba(24, 23, 23, 0.5), rgba(16, 16, 16, 0.5)), url(assets/deal-zabo.png);
    border-radius: 8px;
    grid-column: 2/4;
    grid-row: 1/3;
    max-width: 680px;


}

.image-3 img {
    width: 100%;
    border-radius: 8px;
    filter: blur(5)
}

/* title  */
.title {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px auto;
    margin-top: 70px;

}

.image-3 p {
    margin: 160px;
    font-size: 30px;
}

.shop {
    color: #FFFFFF;


}

@media screen and (max-width:426px) {
    .deals {
        max-width: 360px;
        margin: 0px 25px;
        text-align: center;
    }

    .deals p {
        font-size: 17px;
    }

    .commercial-discount {
        display: flex;
        flex-direction: column;

    }

    .image-1 {
        max-width: 360px;
        height: 180px;
    }

    .image-2 {
        max-width: 360px;
        height: 180px;

    }

    .image-3 {
        max-width: 360px;
        height: 220px;
    }

    .image-3 p {
        display: inline;
    }

    .image-3 p u {
        display: inline;
        padding-left: 142px;
        font-size: 12px;
    }







}

/* news-letter-banner-section */
.news-letter-banner {
    background-image: url(assets/news-letter-bg.png);
    max-width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;


}


.banner-item {
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

.banner-item>h1 {
    padding-top: 120px;
    font-size: 40px;
    font-family: serif;
    color: #FFFFFF;
}

.banner-item .input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-item .email {
    width: 460px;
    height: 40px;
    padding: 3px 20px;
    border: none;
}

.banner-item label {
    width: 140px;
    background-color: #E95A08;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 15px;
    margin-left: 0px;
    border-radius: 2px;

    /* border:1px solid black; */
}

@media screen and (max-width:426px) {
    .news-letter-banner {
        height: 250px;

    }

    .banner-item>h1 {
        font-size: 30px;
        padding-top: 70px;

    }

    .banner-item .email {
        width: 130px;
        height: 22px;
        border: 1.5px solid #E95A08;
        border-radius: 2px;
    }

    .banner-item label {
        width: 60px;
        height: 10px;
        padding-top: 7px;
        font-size: 10px;
        border: 1px solid #FFFFFF;
    }


}


/* footer-section  */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    justify-content: space-between;
    margin: 50px auto;

}

.footer-content {
    margin-top: 15px;
}


.footer .footer-menu ul li {
    list-style: none;
    margin: 20px;
}

.footer .footer-menu ul li a {
    text-decoration: none;
    color: #8987A1;
}

.footer .footer-service ul li {
    list-style: none;
    margin: 20px;

}

.footer .footer-service ul li a {
    text-decoration: none;
    color: #8987A1;

}

.social-media-icon {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 18px;
}

.social-media-icon .icon:nth-child(2) {
    padding-top: 10px;
}

@media screen and (max-width:426px) {
    .footer-container {
        max-width: 425px;
        flex-direction: column;
        justify-content: start;
        margin: 0px 25px;
        position: relative;
    }

    .footer .footer-menu ul li {
        margin-left: 0px;
        padding-left: 0px;
    }

    .footer .footer-menu ul {
        margin-left: 0px;
    }

    .footer .footer-service ul li {
        margin-left: 0px;
    }

    .social-media-icon {
        position: absolute;
        bottom: -40px;
        left: 0;
    }





}